# Archivos de Visual Studio
.vs/
.vscode/
.idea/

# Archivos de configuración del proyecto
*.user
*.userosscache
*.suo
*.userprefs

# Archivos de build
bin/
obj/

# Archivos de dependencias de NuGet
packages/

# Archivos de log
*.log