.header {
    width: 100%;
    height: 40px;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logoH-container {
    max-width: -20px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logoH {
    height: auto;
    width: 20px;
    margin-right: 10px;
  }
  
  .slogan {
    font-style: italic;
    color: #555;
    font-size: 14px;  /* Ajusta el tamaño */
    position: relative;
    top: 1px;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
    margin-right: 90px;
  }
  
  .btn {
    background: transparent;
    border: 2px solid #00a8e8;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #00a8e8;
    color: white;
  }
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
  }
  
  .username {
    font-weight: bold;
    color: #333;
  }